<!DOCTYPE html>
<html style="background-color: white;">
<title>Personalization</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/design/stylesheets/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<!--<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">-->
<style>
    html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    .w3-sidenav a,.w3-sidenav h4 {font-weight:bold}
</style>
<link href="{{static '/vendor/bootstrap/css/bootstrap.min.css'}}" rel="stylesheet" media="screen">
<link href="{{static '/vendor/jasny-bootstrap/css/jasny-bootstrap.min.css'}}" rel="stylesheet" media="screen">

<body class="w3-light-grey w3-content" style="max-width:1600px">


<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:0">
{{{body}}}
<!-- End page content -->
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/vendor/jquery-2.1.1.min.js"></script>
<script src="/vendor/jquery.form.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{static '/vendor/bootstrap/js/bootstrap.min.js'}}"></script>
<script src="{{static '/vendor/jasny-bootstrap/js/jasny-bootstrap.min.js'}}"></script>
{{{_sections.jquery}}}
</body>
</html>